:root{
    --pink: #DE78E7;
    --background-gray: hsla(0, 0%, 93%, 0.95);
    --light_gray: #808080;
    --dark_gray: #545454;
    --blue: #151F2E;
}

#contact_box{
    margin-right: 5rem;
    background-color: #EDEDED;
    outline: 3px solid #EDEDED;
    outline-offset: 1.75rem;

}
@media (min-width:768px) {
    #contact_box{
        transform: translate(4rem, 4rem);

    }
}
@media (min-width:992px) {
    #contact_box{
        transform: translate(5rem, 5rem);

    }
}
@media (min-width:1200px) {
    #contact_box{
        transform: translate(10rem, 5rem);


    }
}
