:root{
    --pink: #DE78E7;
    --background-gray: hsla(0, 0%, 93%, 0.95);
    --light_gray: #808080;
    --dark_gray: #545454;
    --blue: #151F2E;
}

a[target="_blank"] {
    display: none;
}

nav{
    border-bottom: solid 3px var(--pink);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.btn{
    cursor: pointer;
    color: var(--pink);
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    border: 1px solid var(--pink);
    transition: all 0.2s ease;
}
.btn:hover{
    border-color: var(--blue);
    color: var(--blue);
    background-color: var(--pink);
}

.btn2{
    background-color: var(--blue);
    border-radius: 0.75rem;
    border: none;
    padding: 0.75rem 2.75rem;
    color: var(--background-gray);
    transition: all 0.3s ease;
}
.btn2:hover{
    border-radius: 0.1rem;
    border-color: none;
    color: var(--background-gray);
    background-color: var(--blue);
}

@media (min-width: 1200px) {
    .px-6{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
}

.fs-7{
    font-size: 1.1rem;
}

.navbar-brand,
.offcanvas-title{
    height: 4.5rem ;
}

@media (max-width: 1200px) {
    .navbar-brand{
        height: 3.5em;
    }
}

.active{
    font-weight: 600;
}

.nav-link{
    color: var(--light_gray) !important;
}

.nav-link:hover,
.active{
    color: var(--dark_gray) !important;
    transition: all 0.15s ease;
}

.active,
.nav-item{
    position: relative;
}

.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0.4rem;
    left: 0;
    background-color: var(--pink);
}

.nav-item::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0.4rem;
    left: 0;
    background-color: var(--pink);
    transform: scale(0);
    transition: transform 0.2s ease;
}

.nav-item:hover::after{


    transform: scale(1);
}

footer{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-top: 0.25px solid var(--pink);
}
footer img{
    height: 2rem;
    object-fit: scale-down;
}
.ff-2{
    font-family: 'Playfair Display', serif;
}

.fs-0{
    font-size: 3.5rem;
}

.bg-blue{
    background-color: var(--blue) !important;
}
.blue{
    color: var(--blue);
}
.bg-pink{
    background-color: var(--pink) !important;
    height: 5px !important;
    padding: 0 !important;
}
.pink{
    color: var(--pink);
}
.gray{
    color: var(--dark_gray);
}
.light-gray{
    color: var(--light_gray) !important;
}

html,
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif !important;

}
a{
    text-decoration: none !important
}


.heading{
    margin-top: -1.5rem;
    background-color: var(--blue);
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    font-size: 1.5rem;
}
@media (min-width: 562px) {
    .heading{
        font-size: 1.75rem;

    }
}
@media (min-width: 756px) {
    .heading{
        font-size: 2.25rem;

    }
}
@media (min-width: 992px) {
    .heading{
        font-size: 2.75rem;

    }
}
@media (min-width: 1200px) {
    .heading{
        font-size: 3.5rem;

    }
}